.app {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.chatsworthy {
  position: absolute;
  bottom: 25px;
  right: 35px;
  cursor: pointer;
}

.messages-viewer {
  position: absolute !important;
  right: 50px;
  min-width: 400px;
  max-width: 600px;
  bottom: 50px;
  min-height: 200px;
  max-height: 700px;
}

.messages-header {
  min-height: 60px;
}

.messages-background {
  min-height: 350px;
  max-height: 1000px;
  overflow-y: auto;
}

.messages-footer {
  height: 100px !important;
}

.description {
  padding-left: 0.1px !important;
}

.client-message {
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  color: white !important;
}
